.container {
  max-width: 70%; 
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.heading {
  font-size: 40px; 
  margin-bottom: 20px;
}

.uploader {
  margin-bottom: 40px;
}

.dropArea {
  border: 2px dashed #007bff;
  padding: 2rem; 
  border-radius: 8px;
  background-color: #f8f9fa;
  position: relative;
}

.fileInput {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.uploadMessage {
  text-align: center;
}

.browseText {
  color: #007bff;
  cursor: pointer;
}

.selectImageButton {
  padding: 10px 20px;
  font-size: 1rem; 
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.controls {
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 30%; 
}

.input {
  padding: 15px;
  font-size: 1rem; 
  width: 40%; 
  max-width: 100px;
  box-sizing: border-box; 
  margin-top: 8px;
}

.select {
  padding: 8px;
  font-size: 1rem; 
  width: 50%; 
  max-width: 140px;
  box-sizing: border-box; 
  margin-top: 5px;
}

.lockButton {
  padding: 10px; 
  font-size: 1rem; 
  background-color: #ebe6e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%; 
  box-sizing: border-box; 
  margin-top: 5px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-left: auto; 
  margin-right: auto; 
}


.ibutton{
  position: relative;
  right: 38%;
  bottom: 55%;
  cursor: pointer;
  pointer-events:painted;
}


.button {
  padding: 10px 20px;
  font-size: 1rem; 
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 20%;
  box-sizing: border-box; 
  margin-bottom: 50px;
}

/* Image Preview */
.selectedImage {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  max-width: 100%; 
  height: auto; 
}


.footer {
  position: relative; 
  top: 60%;
  left: 0px;
  width: 100%; 
  display: grid;
  justify-content: center; 
  align-items: center;
  padding-top: 10px;
}




/* Media Queries for Smaller Screens */

@media (max-width: 912px) {
  .input {
    width: 51%; 
    padding: 12px;
  }

  .select {
    width: 100%; 
    padding: 5px;
  }

  .lockButton {
    width: 30%; 
  }
  .button {
    padding: 10px 7px;
    font-size: 0.9rem;
    width: 30%;
  }

  .ibutton{
    right: 32%;
    pointer-events: all;
  }
}


@media (max-width: 768px) {
  .heading {
    font-size: 1.8rem;
  }

  .selectImageButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
  }

  .inputGroup {
    margin-right: 0;
  }

  .row {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }

  .selectImageButton {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .button {
    padding: 7px 7px;
    font-size: 0.8rem;
    width: 45%;
  }

  .inputGroup {
    width: 100%; 
  }

  .lockButton {
    padding: 5px;
    font-size: 0.8rem;
    width: 45%;
  }

  .ibutton{
    right: 20%;
    pointer-events:all;
  }
}
